.intro__title {
	position: relative;
	top: 20vh;
}

.title__content {
	display: flex;
	flex-direction: column;

	margin: 0 auto;
	align-items: center;

	max-width: 828px;
}

.content__mojno {
	font-family: 'Unbounded';
	font-size: 175px;
	font-weight: 700;
	color: white;
	line-height: 100%;
}

.content__podrg {
	font-family: 'Comforter';
	font-weight: 400;
	font-size: 170px;
	color: #DA3B3B;
	line-height: 65px;
	align-self: flex-end;
}

.content__retrit {
	font-family: 'Unbounded';
	font-size: 70px;
	font-weight: 200;
	color: white;
	line-height: 70px;

	text-align: left;
	align-self: flex-start;
}

/*Ноут*/
@media (max-width: 1200px) {
	.intro__title {
		position: relative;
		top: 10vh;
	}

	.content__mojno {
		font-size: 120px;
	}

	.content__podrg {
		position: relative;
		top: -10px;
		font-size: 130px;
	}

	.content__retrit {
		position: relative;
		top: -20px;
		font-size: 70px;
		align-self: center;
	}
}

/*Планшет*/
@media (max-width: 1000px) {
	.content__mojno {
		font-size: 80px;
	}

	.content__podrg {
		right: -120px;
		top: -19px;
		font-size: 80px;
		align-self: center;
	}

	.content__retrit {
		top: -40px;
		font-size: 50px;
		line-height: 100%;
		align-self: center;
	}
}

/*Телефон*/
@media (max-width: 645px) {
	.intro__title {
		position: relative;
		top: 30vh;
	}

	.content__mojno {
		font-size: 50px;
	}

	.content__podrg {
		right: -80px;
		top: -25px;
		font-size: 50px;
		align-self: center;
	}

	.content__retrit {
		top: -50px;
		font-size: 30px;
		line-height: 100%;
		align-self: center;
	}
}
