.header {
	padding-top: 30px;
	z-index: 2;
	position: relative;
}

.header > ul {
	margin: 0 auto;
	list-style-type: none;

	display: flex;
	gap: 40px;
	justify-content: center;
}

.header__point {
	display: flex;
	align-items: center;

	font-family: Unbounded;
	font-weight: 300;
	font-size: 29px;
	color: white;
	text-align: center;
}

.header__point > a {
	text-decoration: none;
	color: white;
	transition: font-size 1s;
}

.header__point > a:hover {
	font-size: 32px;
	transition: font-size 1s;
}

/*Ноут*/
@media (max-width: 1200px) {
	.header__point {
		font-size: 22px;
	}

	.header__image > a > img {
		width: 35px;
		height: 35px;
	}
}

/*Планшет*/
@media (max-width: 1000px) {
	.header > ul {
		gap: 20px;
	}

	.header__point {
		font-size: 16px;
	}

	.header__image > a > img {
		width: 25px;
		height: 25px;
	}
}

/*Телефон*/
@media (max-width: 645px) {
	.header > ul {
		gap: 8px;
	}

	.header__point {
		font-size: 10px;
	}

	.header__image > a > img {
		width: 18px;
		height: 18px;
	}
}
