.form {
	height: 100vh;
	/* background: center no-repeat url(../../assets/background.png); */
	display: flex;
	align-items: center;
	justify-content: center;
}

.form__content {
	padding: 50px 30px;
	background-color: #00000070;
	border-radius: 50px;
	backdrop-filter: blur(5px);

	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	z-index: 2;
}

.form__content > h2 {
	font-family: 'Unbounded';
	font-size: 32px;
	line-height: 150%;
	font-weight: 400;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

form > input {
	font-size: 20px;
	font-family: 'Montserrat';
	font-weight: 400;
	line-height: 150%;

	border-radius: 50px;
	border: 1px solid white;
	background-color: transparent;
	color: rgb(255, 255, 255);

	padding: 10px;

	pointer-events: all;
}

form > input:focus {
	outline: none;
	border: 2px solid white;
	background-color: transparent;
}

form > input::placeholder {
	font-weight: 500;
}

.submit {
	transition: all 1s;
}

form > .submit:hover {
	background-color: white;
	color: black;
	transition: all 1s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield;
}

.under__line {
	color: white;
	font-family: 'Unbounded';
	font-weight: 400;
	font-size: 32px;
}

/*Ноут*/
@media (max-width: 1200px) {

}

/*Планшет*/
@media (max-width: 1000px) {
	.form__content {
		padding: 30px 10px;
		border-radius: 30px;
		gap: 20px;
	}

	.form__content > h2 {
		font-size: 24px;
	}

	form {
		gap: 20px;
	}

	form > input {
		font-size: 16px;
		padding: 10px;
	}

	.under__line {
		font-size: 24px;
	}
}

/*Телефон*/
@media (max-width: 645px) {
	.form__content {
		padding: 30px 10px;
		border-radius: 30px;
		gap: 10px;
	}

	.form__content > h2 {
		font-size: 16px;
	}

	form {
		gap: 10px;
	}

	form > input {
		font-size: 12px;
		padding: 10px;
	}

	.under__line {
		font-size: 16px;
	}
}
