h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

.service {
	background: center no-repeat url(../../assets/background.png);
	display: flex;
	flex-direction: column;
	gap: 15px;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 100vh;
}

.mesto__sila {
	padding: 50px 120px;
	background-color: #00000070;
	border-radius: 50px;
	max-width: 929px;
}

.sila__title {
	font-family: 'Unbounded';
	font-weight: 400;
	font-size: 36px;
	line-height: 150%;
	color: white;
}

.sila__text {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	color: white;
}

.pakets {
	display: flex;
	gap: 20px;
}

.paket__content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	background-color: #00000095;
	border-radius: 50px;
	color: white;
	padding: 50px;
	text-wrap: wrap;
}

.content__title {
	font-family: 'Unbounded';
	font-weight: 700;
	font-size: 24px;
	line-height: 150%;
}

.content__plus {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	padding-left: 20px;
}

.content__price {
	font-family: 'Montserrat';
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	line-height: 150%;
}

/*Ноут*/
@media (max-width: 1200px) {
	.mesto__sila {
		padding: 50px 30px;
	}

	.sila__title {
		font-size: 24px;
	}

	.sila__text {
		font-size: 18px;
	}

	.pakets {
		gap: 15px;
	}

	.paket__content {
		gap: 15px;
		padding: 30px;
		text-wrap: wrap;
	}

	.content__title {
		font-size: 18px;
	}

	.content__plus {
		font-size: 16px;
		padding-left: 20px;
	}

	.content__price {
		font-size: 16px;
	}
}

/*Планшет*/
@media (max-width: 1000px) {
	.service {
		padding: 0 10px;
	}

	.mesto__sila {
		padding: 30px 20px;
	}

	.sila__title {
		font-size: 20px;
	}

	.sila__text {
		font-size: 16px;
	}

	.pakets {
		gap: 10px;
	}

	.paket__content {
		gap: 15px;
		padding: 30px;
		text-wrap: wrap;
	}

	.content__title {
		font-size: 16px;
	}

	.content__plus {
		font-size: 14px;
		padding-left: 20px;
	}

	.content__price {
		font-size: 14px;
	}
}

/*Телефон*/
@media (max-width: 645px) {
	.service {
		padding: 0 8px;
	}

	.mesto__sila {
		padding: 30px 20px;
		border-radius: 20px;
	}

	.sila__title {
		font-size: 15px;
	}

	.sila__text {
		font-size: 12px;
	}

	.pakets {
		gap: 10px;
		flex-direction: column;
	}

	.paket__content {
		border-radius: 20px;
		gap: 5px;
		padding: 20px;
		text-wrap: wrap;
	}

	.content__title {
		font-size: 14px;
	}

	.content__plus {
		font-size: 10px;
		padding-left: 10px;
	}

	.content__price {
		font-size: 10px;
	}
}
