.about {
	/* background: center no-repeat url(../../assets/background.png); */
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__content {
	display: flex;
	flex-wrap: wrap;
	gap: 250px;

	position: relative;

	align-items: center;
	justify-content: center;
	max-width: 1273px;
	margin: 0 auto;
}

.content {
	display: flex;

	background-color: #00000070;
	border-radius: 50px;
	width: 464px;
	padding: 40px 0;
	justify-content: center;
}

.content > p {
	margin: 0;
	color: white;
	width: max-content;

	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
}

/*Ноут*/
@media (max-width: 1200px) {
	.content {
		width: 350px;
	}

	.content > p {
		font-size: 16px;
		line-height: 100%;
	}
}

/*Планшет*/
@media (max-width: 1000px) {
	.about__content {
		gap: 130px;
	}

	.content {
		width: 250px;
	}

	.content > p {
		font-size: 12px;
		line-height: 100%;
	}
}

/*Телефон*/
@media (max-width: 645px) {
	.about__content {
		gap: 50px;
	}

	.content {
		width: 200px;
		padding: 20px 0;
	}

	.content > p {
		font-size: 10px;
		line-height: 100%;
	}
}
